@font-face {
    font-family: 'geared_slabextrabold';
    src: url('fonts/gearedslab-extrabold-webfont.woff2') format('woff2'),
    url('fonts/gearedslab-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geared_slabthin';
    src: url('fonts/gearedslab-light-webfont.woff2') format('woff2'),
    url('fonts/gearedslab-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akrobatbold';
    src: url('fonts/akrobat-bold-webfont.woff2') format('woff2'),
    url('fonts/akrobat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akrobatextrabold';
    src: url('fonts/akrobat-extrabold-webfont.woff2') format('woff2'),
    url('fonts/akrobat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akrobatextralight';
    src: url('fonts/akrobat-extralight-webfont.woff2') format('woff2'),
    url('fonts/akrobat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akrobatsemibold';
    src: url('fonts/akrobat-semibold-webfont.woff2') format('woff2'),
    url('fonts/akrobat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akrobatthin';
    src: url('fonts/akrobat-thin-webfont.woff2') format('woff2'),
    url('fonts/akrobat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$geared-blk: "geared_slabextrabold", Arial, Helvetica, Verdana, sans-serif;
$geared-thin: "geared_slabthin", Arial, Helvetica, Verdana, sans-serif;

$akrobat-med: "akrobatsemibold", Arial, Helvetica, Verdana, sans-serif;
$akrobat-bold: "akrobatbold", $akrobat-med;
$akrobat-thin: "akrobatthin", $akrobat-med;
$akrobat-light: "akrobatextralight", $akrobat-thin;
$akrobat-blk: "akrobatextrabold", $akrobat-bold;