.elementor-column-gap-default > .elementor-row > .elementor-column.full_width {
    div {
        padding: 0;
    }
}

.elementor-text-editor {
    p {
        font-family: $akrobat-med;
        line-height: 1.5em;
        font-size: 1.15em;
        padding: 5px 0 15px 0;
        letter-spacing: 0.015em;
    }
}

#gw_link {
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 60px;
}

.justify {
    .elementor-text-editor p {
        text-align: justify;
    }
}

.center {
    .elementor-text-editor p {
        text-align: center;
    }
}

.elementor-section.elementor-section-height-full.first-section {

    @media only screen and (min-height: 900px) {
        height: 80vh;
    }
}

.geared-blk {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared-blk !important;
    }
}

.geared-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared-thin !important;
    }
}

.akrobat-med {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-med !important;
    }
}

.akrobat-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-bold !important;
    }
}

.akrobat-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-thin !important;
    }
}

.akrobat-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-light !important;
    }
}

.akrobat-blk {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-blk !important;
    }
}