.elementor-column-gap-default > .elementor-row > .elementor-column.full_width {
    div {
        padding: 0;
    }
}

.geared-blk {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared-blk !important;
    }
}

.geared-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared-thin !important;
    }
}

.akrobat-med {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-med !important;
    }
}

.akrobat-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-bold !important;
    }
}

.akrobat-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-thin !important;
    }
}

.akrobat-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-light !important;
    }
}

.akrobat-blk {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-blk !important;
    }
}